@charset "UTF-8";
/*
FLEX
--
/*$positions: justify-content & align-items
If only one value, will be used for the two properties
Use 'null' to not declare a propertie, ex: flex(center null)
*/
/*
FILL
--
$mode = 'parent' || 'viewport'
$fullH fill width AND height
*/
/*
RESPONSIVE FONT
--
https://www.smashingmagazine.com/2015/06/responsive-typography-with-sass-maps
*/
/*
ADD WEBFONT
--
$path in context of the fonts folder
*/
/*
TEXT TRUNCATE
--
requires inline-block or block for proper styling
*/
/*
PSEUDO BACKGROUND
--
Use in :before or :after
Parent element should be positioned
*/
/*
BACKGROUND WITH SHADOW
--
Make background with :after and fancy shadow with :before
*/
/*======================================================================*\
==========================================================================

							UTILS : HELPERS

==========================================================================
\*======================================================================*/
.transition {
  transition-property: all;
  transition-duration: 0.2s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.is-none {
  display: none;
}

/*======================================================================*\
==========================================================================

							UTILS : COLORS

==========================================================================
\*======================================================================*/
.c-main {
  color: #46555f !important;
}

.bg-main {
  background-color: #46555f !important;
}

.c-accent {
  color: #00679e !important;
}

.bg-accent {
  background-color: #00679e !important;
}

.c-dark {
  color: #132345 !important;
}

.bg-dark {
  background-color: #132345 !important;
}

.c-light {
  color: #d4d8da !important;
}

.bg-light {
  background-color: #d4d8da !important;
}

.c-txt {
  color: #46555f !important;
}

.bg-txt {
  background-color: #46555f !important;
}

.c-valid {
  color: #00C15F !important;
}

.bg-valid {
  background-color: #00C15F !important;
}

.c-error {
  color: #F13636 !important;
}

.bg-error {
  background-color: #F13636 !important;
}

.c-facebook {
  color: #3b5998 !important;
}

.bg-facebook {
  background-color: #3b5998 !important;
}

.c-twitter {
  color: #1da1f2 !important;
}

.bg-twitter {
  background-color: #1da1f2 !important;
}

.c-linkedin {
  color: #0077b5 !important;
}

.bg-linkedin {
  background-color: #0077b5 !important;
}

.c-youtube {
  color: #cd201f !important;
}

.bg-youtube {
  background-color: #cd201f !important;
}

.c-white {
  color: #fff !important;
}

.bg-white {
  background-color: #fff !important;
}

/*======================================================================*\
==========================================================================

								RESET

==========================================================================
\*======================================================================*/
body {
  margin: 0;
  padding: 0;
}

.content button, .content input, .content select, .content textarea {
  border: 0;
  outline: 0;
  box-shadow: none;
  background-color: transparent;
  font-family: inherit;
  font-size: 100%;
}

.content img {
  display: block;
  max-width: 100%;
}

.content svg {
  max-height: 100%;
}

.content a {
  text-decoration: none;
  outline: 0;
}

.content button {
  cursor: pointer;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*======================================================================*\
==========================================================================

								LAYERS

==========================================================================
\*======================================================================*/
/*======================================================================*\
==========================================================================

							TYPOGRAPHY

==========================================================================
\*======================================================================*/
body {
  font-family: "Open sans";
  line-height: 1.3;
  color: #46555f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title-0, .heroTitle {
  font-size: 30px;
  font-family: "Fjalla One", sans-serif, sans-serif;
  line-height: normal;
  font-weight: normal;
}
@media screen and (min-width: 700px) {
  .title-0, .heroTitle {
    font-size: 40px;
  }
}
@media screen and (min-width: 960px) {
  .title-0, .heroTitle {
    font-size: 50px;
  }
}

.title-1, .sectionTitle, h1.title-1, h1.sectionTitle {
  font-size: 29px;
  font-family: "Fjalla One", sans-serif, sans-serif;
  line-height: normal;
  font-weight: normal;
}
@media screen and (min-width: 700px) {
  .title-1, .sectionTitle, h1.title-1, h1.sectionTitle {
    font-size: 34px;
  }
}
@media screen and (min-width: 960px) {
  .title-1, .sectionTitle, h1.title-1, h1.sectionTitle {
    font-size: 40px;
  }
}

.title-2, h2.title-2 {
  font-size: 25px;
  font-family: "Fjalla One", sans-serif, sans-serif;
  line-height: normal;
  font-weight: normal;
}
@media screen and (min-width: 700px) {
  .title-2, h2.title-2 {
    font-size: 29px;
  }
}
@media screen and (min-width: 960px) {
  .title-2, h2.title-2 {
    font-size: 34px;
  }
}

.title-3, .heroCta .c-button, h3.title-3, .heroCta h3.c-button, h3.c-cardTitle {
  font-size: 20px;
  font-family: "Fjalla One", sans-serif, sans-serif;
  line-height: normal;
  font-weight: normal;
  margin-top: 40px;
}
@media screen and (min-width: 700px) {
  .title-3, .heroCta .c-button, h3.title-3, .heroCta h3.c-button, h3.c-cardTitle {
    font-size: 23px;
  }
}
@media screen and (min-width: 960px) {
  .title-3, .heroCta .c-button, h3.title-3, .heroCta h3.c-button, h3.c-cardTitle {
    font-size: 25px;
  }
}

.title-4, .c-button, a.advisor .title-3, a.advisor .heroCta .c-button, .heroCta a.advisor .c-button, h4.title-4, h4.c-button, a.advisor h4.title-3, a.advisor .heroCta h4.c-button, .heroCta a.advisor h4.c-button {
  font-size: 16px;
  font-family: "Fjalla One", sans-serif, sans-serif;
  margin: 24px 0 0;
  line-height: normal;
  font-weight: normal;
}
@media screen and (min-width: 700px) {
  .title-4, .c-button, a.advisor .title-3, a.advisor .heroCta .c-button, .heroCta a.advisor .c-button, h4.title-4, h4.c-button, a.advisor h4.title-3, a.advisor .heroCta h4.c-button, .heroCta a.advisor h4.c-button {
    font-size: 18px;
  }
}
@media screen and (min-width: 960px) {
  .title-4, .c-button, a.advisor .title-3, a.advisor .heroCta .c-button, .heroCta a.advisor .c-button, h4.title-4, h4.c-button, a.advisor h4.title-3, a.advisor .heroCta h4.c-button, .heroCta a.advisor h4.c-button {
    font-size: 20px;
  }
}

.title-5, h5.title-5 {
  font-size: 14px;
  line-height: normal;
}
@media screen and (min-width: 700px) {
  .title-5, h5.title-5 {
    font-size: 15px;
  }
}
@media screen and (min-width: 960px) {
  .title-5, h5.title-5 {
    font-size: 16px;
  }
}

.title-6, h6.title-6 {
  font-size: 12px;
  line-height: normal;
}
@media screen and (min-width: 700px) {
  .title-6, h6.title-6 {
    font-size: 13px;
  }
}
@media screen and (min-width: 960px) {
  .title-6, h6.title-6 {
    font-size: 14px;
  }
}

.content p, .para, .content ul li, .content ol li, .heroBaseline {
  font-size: 16px;
  font-family: "Open sans";
}
@media screen and (min-width: 700px) {
  .content p, .para, .content ul li, .content ol li, .heroBaseline {
    font-size: 18px;
  }
}
@media screen and (min-width: 960px) {
  .content p, .para, .content ul li, .content ol li, .heroBaseline {
    font-size: 20px;
  }
}

.content p {
  margin: 1em 0 0;
  line-height: normal;
}

.para--min, .c-chartLegende li, .content .c-cardList li, .content .para--min, .content .c-chartLegende li, .c-chartLegende .content li, .content .c-cardList li {
  font-size: 14px;
  font-family: "Open sans";
  line-height: normal;
}
@media screen and (min-width: 700px) {
  .para--min, .c-chartLegende li, .content .c-cardList li, .content .para--min, .content .c-chartLegende li, .c-chartLegende .content li, .content .c-cardList li {
    font-size: 15px;
  }
}
@media screen and (min-width: 960px) {
  .para--min, .c-chartLegende li, .content .c-cardList li, .content .para--min, .content .c-chartLegende li, .c-chartLegende .content li, .content .c-cardList li {
    font-size: 16px;
  }
}

.para--big, .content .para--big {
  font-size: 20px;
  font-family: "Open sans";
  line-height: normal;
}
@media screen and (min-width: 700px) {
  .para--big, .content .para--big {
    font-size: 23px;
  }
}
@media screen and (min-width: 960px) {
  .para--big, .content .para--big {
    font-size: 25px;
  }
}

.content ul, .content ol {
  margin: 1em 0 0 0;
  padding: 0 0 0 20px;
}
.content ul li, .content ol li {
  margin-top: 0.4em;
  line-height: normal;
}

.content p a,
.content li a {
  color: #46555f !important;
  font-weight: bold;
  text-decoration: none !important;
  display: inline-block;
}
.content p a:after,
.content li a:after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: #00679e;
  transition: width .3s;
}
.content p a:hover,
.content li a:hover {
  color: #46555f !important;
  text-decoration: none !important;
}
.content p a:hover:after,
.content li a:hover:after {
  width: 0;
}

.content .title-1, .content .sectionTitle, .content .title-2, .content .title-3, .content .heroCta .c-button, .heroCta .content .c-button, .content .title-4, .content .c-button, .content a.advisor .title-3, a.advisor .content .title-3, .content a.advisor .heroCta .c-button, a.advisor .heroCta .content .c-button, .content .heroCta a.advisor .c-button, .heroCta a.advisor .content .c-button, .content .title-5, .content .title-6 {
  margin-bottom: 0;
}

/**/
@font-face {
  font-family: "Flaticon";
  src: url("https://cdn.rawgit.com/fluxinetwork/nc-partners-hive/823ccfc3/app/fonts/flaticon/Flaticon.eot");
  src: url("https://cdn.rawgit.com/fluxinetwork/nc-partners-hive/823ccfc3/app/fonts/flaticon/Flaticon.eot?#iefix") format("embedded-opentype"), url("https://cdn.rawgit.com/fluxinetwork/nc-partners-hive/823ccfc3/app/fonts/flaticon/Flaticon.woff") format("woff"), url("https://cdn.rawgit.com/fluxinetwork/nc-partners-hive/823ccfc3/app/fonts/flaticon/Flaticon.ttf") format("truetype"), url("https://cdn.rawgit.com/fluxinetwork/nc-partners-hive/823ccfc3/app/fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("https://cdn.rawgit.com/fluxinetwork/nc-partners-hive/823ccfc3/app/fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
  }
}
[class^="fla-"]:before, [class*=" fla-"]:before,
[class^="fla-"]:after, [class*=" fla-"]:after {
  font-family: Flaticon;
  font-style: normal;
  color: #00679e;
}

.fla-euro-3:before {
  content: "\f100";
}

.fla-euro-2:before {
  content: "\f101";
}

.fla-euro-1:before {
  content: "\f102";
}

.fla-euro:before {
  content: "\f103";
}

.fla-coin:before {
  content: "\f104";
}

.fla-square:before {
  content: "\f105";
}

.fla-education:before {
  content: "\f106";
}

.fla-write:before {
  content: "\f107";
}

.fla-money:before {
  content: "\f108";
}

.fla-statistics:before {
  content: "\f109";
}

.fla-coins:before {
  content: "\f10a";
}

.fla-calendar:before {
  content: "\f10b";
}

.fla-folders:before {
  content: "\f10c";
}

.fla-computer:before {
  content: "\f10d";
}

.fla-clock-1:before {
  content: "\f10e";
}

.fla-time-2:before {
  content: "\f10f";
}

.fla-clock:before {
  content: "\f110";
}

.fla-tie:before {
  content: "\f111";
}

.fla-time-1:before {
  content: "\f112";
}

.fla-left:before {
  content: "\f113";
}

.fla-suitcase-1:before {
  content: "\f114";
}

.fla-office-buildings:before {
  content: "\f115";
}

.fla-people-8:before {
  content: "\f116";
}

.fla-people-7:before {
  content: "\f117";
}

.fla-people-6:before {
  content: "\f118";
}

.fla-man-1:before {
  content: "\f119";
}

.fla-people-5:before {
  content: "\f11a";
}

.fla-people-4:before {
  content: "\f11b";
}

.fla-people-3:before {
  content: "\f11c";
}

.fla-people-2:before {
  content: "\f11d";
}

.fla-man:before {
  content: "\f11e";
}

.fla-circle:before {
  content: "\f11f";
}

.fla-people-1:before {
  content: "\f120";
}

.fla-technology-3:before {
  content: "\f121";
}

.fla-pen:before {
  content: "\f122";
}

.fla-arrows:before {
  content: "\f123";
}

.fla-suitcase:before {
  content: "\f124";
}

.fla-people:before {
  content: "\f125";
}

.fla-squares:before {
  content: "\f126";
}

.fla-technology-2:before {
  content: "\f127";
}

.fla-loudspeaker:before {
  content: "\f128";
}

.fla-file:before {
  content: "\f129";
}

.fla-transport:before {
  content: "\f12a";
}

.fla-time:before {
  content: "\f12b";
}

.fla-graphic-1:before {
  content: "\f12c";
}

.fla-stats:before {
  content: "\f12d";
}

.fla-hands:before {
  content: "\f12e";
}

.fla-business-3:before {
  content: "\f12f";
}

.fla-technology-1:before {
  content: "\f130";
}

.fla-business-2:before {
  content: "\f131";
}

.fla-graphic:before {
  content: "\f132";
}

.fla-arrow:before {
  content: "\f133";
}

.fla-commerce:before {
  content: "\f134";
}

.fla-business-1:before {
  content: "\f135";
}

.fla-binocoulars:before {
  content: "\f136";
}

.fla-pyramid:before {
  content: "\f137";
}

.fla-travel:before {
  content: "\f138";
}

.fla-business:before {
  content: "\f139";
}

.fla-magnifying-glass:before {
  content: "\f13a";
}

.fla-box:before {
  content: "\f13b";
}

.fla-looking:before {
  content: "\f13c";
}

.fla-technology:before {
  content: "\f13d";
}

.fla-scale:before {
  content: "\f13e";
}

.fla-interface:before {
  content: "\f13f";
}

.fla-document-with-tables:before {
  content: "\f140";
}

.fla-map-location:before {
  content: "\f141";
}

/*======================================================================*\
==========================================================================

						LAYOUTS : LIB

==========================================================================
\*======================================================================*/
/*======================================================================*\
==========================================================================

							LAYOUT : COL

==========================================================================
\*======================================================================*/
.l-col {
  width: 100%;
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 700px) {
  .l-col {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 96px;
  }
}

/*======================================================================*\
==========================================================================

							LAYOUT : CELL

==========================================================================
\*======================================================================*/
.l-cell {
  padding: 16px;
}
@media screen and (min-width: 700px) {
  .l-cell {
    padding: 20.8px;
  }
}
@media screen and (min-width: 960px) {
  .l-cell {
    padding: 24px;
  }
}

.l-largeCell {
  padding: 40px;
}
@media screen and (min-width: 700px) {
  .l-largeCell {
    padding: 52px;
  }
}
@media screen and (min-width: 960px) {
  .l-largeCell {
    padding: 64px;
  }
}

.l-heroCell {
  padding: 64px 40px;
}
@media screen and (min-width: 700px) {
  .l-heroCell {
    padding: 83.2px 52px;
  }
}
@media screen and (min-width: 960px) {
  .l-heroCell {
    padding: 96px 64px;
  }
}

/*======================================================================*\
==========================================================================

							LAYOUT : MARGIN

==========================================================================
\*======================================================================*/
.l-marginTop, .l-margin {
  margin-top: 40px;
}
@media screen and (min-width: 700px) {
  .l-marginTop, .l-margin {
    margin-top: 64px;
  }
}
@media screen and (min-width: 960px) {
  .l-marginTop, .l-margin {
    margin-top: 96px;
  }
}
@media screen and (min-width: 1200px) {
  .l-marginTop, .l-margin {
    margin-top: 124.8px;
  }
}

.l-marginBottom, .l-margin {
  margin-bottom: 40px;
}
@media screen and (min-width: 700px) {
  .l-marginBottom, .l-margin {
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 960px) {
  .l-marginBottom, .l-margin {
    margin-bottom: 96px;
  }
}
@media screen and (min-width: 1200px) {
  .l-marginBottom, .l-margin {
    margin-bottom: 124.8px;
  }
}

.--noMgTop {
  margin-top: 0 !important;
}

/*======================================================================*\
==========================================================================

							LAYOUT : PADDING

==========================================================================
\*======================================================================*/
.l-paddingTop, .l-padding {
  padding-top: 40px;
}
@media screen and (min-width: 700px) {
  .l-paddingTop, .l-padding {
    padding-top: 64px;
  }
}
@media screen and (min-width: 960px) {
  .l-paddingTop, .l-padding {
    padding-top: 96px;
  }
}
@media screen and (min-width: 1200px) {
  .l-paddingTop, .l-padding {
    padding-top: 124.8px;
  }
}

.l-paddingBottom, .l-padding {
  padding-bottom: 40px;
}
@media screen and (min-width: 700px) {
  .l-paddingBottom, .l-padding {
    padding-bottom: 64px;
  }
}
@media screen and (min-width: 960px) {
  .l-paddingBottom, .l-padding {
    padding-bottom: 96px;
  }
}
@media screen and (min-width: 1200px) {
  .l-paddingBottom, .l-padding {
    padding-bottom: 124.8px;
  }
}

.--noPdBot {
  padding-bottom: 0;
}

.l-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.l-center--col {
  flex-direction: column;
}

/*======================================================================*\
==========================================================================

							LAYOUT : JUMP

==========================================================================
\*======================================================================*/
.l-jump {
  margin-top: 24px;
}
@media screen and (min-width: 700px) {
  .l-jump {
    margin-top: 40px;
  }
}
@media screen and (min-width: 960px) {
  .l-jump {
    margin-top: 52px;
  }
}

/*======================================================================*\
==========================================================================

							LAYOUT : CENTER

==========================================================================
\*======================================================================*/
.l-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.l-center--col {
  flex-direction: column;
}

/*======================================================================*\
==========================================================================

							LAYOUT BASE FLEXGRID

==========================================================================
\*======================================================================*/
.l-flexGrid__item {
  /*padding-left: $gutter/2;
  padding-right: $gutter/2;*/
}
.l-flexGrid__item:last-child {
  margin-top: 24px;
}
@media screen and (min-width: 700px) {
  .l-flexGrid__item:first-child {
    margin-right: 20px;
  }
  .l-flexGrid__item:last-child {
    margin-left: 20px;
    margin-top: 0;
  }
}

@media screen and (min-width: 700px) {
  .l-flexGrid {
    display: flex;
    flex-direction: true;
  }

  .l-flexGrid__item {
    flex: 1 0 0%;
    		/*&--first,
    		&:first-child {
    			padding-left: 0;
    		}
    
    		&:last-child {
    			padding-right: 0;
    		}*/
  }
}
/*======================================================================*\
==========================================================================

							LAYOUT BASE FLOAT

==========================================================================
\*======================================================================*/
.l-floatGrid {
  display: flex;
}

.l-floatGrid__item:first-child {
  margin-top: 24px;
  margin-right: 20px;
}

/*======================================================================*\
==========================================================================

							LAYOUT : CTA

==========================================================================
\*======================================================================*/
.l-cta {
  width: 100%;
  position: relative;
  text-align: center;
  background-color: #132345;
}
.l-cta:before {
  content: "";
  background: url("https://cdn.rawgit.com/fluxinetwork/nc-partners-hive/9f4cf653/app/img/NC-Partners-OnDemand-texture8.png");
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  opacity: 0.2;
}
.l-cta .l-flexGrid__item:last-child {
  margin-top: 40px;
}
@media screen and (min-width: 700px) {
  .l-cta .l-flexGrid__item:last-child {
    margin-top: 0;
  }
}
.l-cta .content {
  position: relative;
  z-index: 2;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  color: #fff;
}
.l-cta .content:before {
  content: "";
  background-color: #00679e;
  width: 0;
  height: 0;
  position: absolute;
  z-index: 1;
}
@media screen and (min-width: 700px) {
  .l-cta .content {
    padding: 64px 40px 64px;
  }
  .l-cta .content:before {
    width: 2px;
    height: 55%;
    left: calc(50% - 1px);
  }
}
.l-cta .content a.c-button {
  color: #00679e;
  margin-top: 24px;
}
@media screen and (min-width: 700px) {
  .l-cta .content a.c-button {
    margin-top: 40px;
  }
}
.l-cta h3.title-3, .l-cta .heroCta h3.c-button, .heroCta .l-cta h3.c-button {
  color: #fff;
  margin: 16px 0 0;
}
.l-cta h3.title-3:first-child, .l-cta .heroCta h3.c-button:first-child, .heroCta .l-cta h3.c-button:first-child {
  margin-top: 0;
}
.l-cta.--monoCta .content {
  max-width: 700px;
}
.l-cta.--monoCta .content:before {
  display: none;
}

/*======================================================================*\
==========================================================================

							LAYOUT : CASES

==========================================================================
\*======================================================================*/
.l-cases .content, .l-who .content {
  margin: 64px 0;
  padding: 0 0 64px;
  position: relative;
}
@media screen and (min-width: 700px) {
  .l-cases .content, .l-who .content {
    margin: 96px 0;
    padding: 0 0 96px;
  }
}
.l-cases .content.--noMgTop, .l-who .content.--noMgTop {
  margin-top: 0;
}
.l-cases .content:before, .l-who .content:before {
  content: "";
  width: 200px;
  height: 1px;
  left: calc(50% - 100px);
  bottom: 0;
  background-color: #d4d8da;
  position: absolute;
  z-index: 1;
}
@media screen and (min-width: 700px) {
  .l-cases .content:before, .l-who .content:before {
    width: 470px;
    left: calc(50% - 235px);
  }
}
.l-cases .content:last-child, .l-who .content:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}
.l-cases .content:last-child:before, .l-who .content:last-child:before {
  display: none;
}
.l-cases .content .title-3, .l-who .content .title-3, .l-cases .content .heroCta .c-button, .heroCta .l-cases .content .c-button, .l-who .content .heroCta .c-button, .heroCta .l-who .content .c-button {
  margin-bottom: 0;
}
.l-cases .content .title-3:first-child, .l-who .content .title-3:first-child, .l-cases .content .heroCta .c-button:first-child, .heroCta .l-cases .content .c-button:first-child, .l-who .content .heroCta .c-button:first-child, .heroCta .l-who .content .c-button:first-child {
  margin-top: 0;
}
.l-cases .content .c-card.--imgCard, .l-who .content .c-card.--imgCard {
  display: block;
  padding: 0;
  overflow: hidden;
  border-radius: 50%;
}
@media screen and (max-width: 700px) {
  .l-cases .content .c-card.--imgCard, .l-who .content .c-card.--imgCard {
    max-width: 410px;
    margin: 0 auto;
  }
  .l-cases .content .c-card.--imgCard img, .l-who .content .c-card.--imgCard img {
    display: block;
    width: 100%;
  }
}

.l-who .c-card.--imgCard {
  width: 220px;
  margin: 0 auto;
}

/*======================================================================*\
==========================================================================

							LAYOUT : LOGOD

==========================================================================
\*======================================================================*/
.l-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}
.l-logos .c-logo {
  padding: 10px 20px;
}
.l-logos .c-logo img {
  width: 100%;
  max-width: 150px;
  max-height: 80px;
}

/*======================================================================*\
==========================================================================

							BUTTON

==========================================================================
\*======================================================================*/
.c-button {
  display: inline-block;
  padding: 0.6em 1em;
  font-family: "Fjalla One", sans-serif;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  background-color: #00679e;
  border-radius: 3px;
  color: #fff;
  border: 0;
  transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.c-button:hover {
  background-color: #00679e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.c-button.-white {
  background-color: #fff;
  color: #00679e;
}
.c-button.-white:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-shadow: 0 0 20px rgba(0, 103, 158, 0.5);
}
.c-button i {
  position: relative;
  top: -2px;
  margin-right: 8px;
}

.content a.c-button {
  color: #fff;
}

/*======================================================================*\
==========================================================================

							CARD

==========================================================================
\*======================================================================*/
.c-card {
  border: 1px solid #d4d8da;
  padding: 24px;
  margin-top: 24px;
  background-color: #fff;
}
@media screen and (min-width: 700px) {
  .c-card {
    padding: 40px;
    margin-top: 40px;
  }
}
.c-card:first-child, .c-card.--first {
  margin-top: 0;
}
.c-card .c-button {
  margin-top: 24px;
}
@media screen and (min-width: 700px) {
  .c-card .c-button {
    margin-top: 40px;
  }
}
.c-card .c-icon {
  text-align: center;
  font-size: 60px;
  line-height: 60px;
}
.c-card.-exp .citation {
  font-size: 20px;
}
@media screen and (min-width: 700px) {
  .c-card.-exp .citation {
    font-size: 23px;
  }
}
@media screen and (min-width: 960px) {
  .c-card.-exp .citation {
    font-size: 25px;
  }
}
.c-card.-exp .citation:first-child {
  margin-top: 0;
}
.c-card.--imgCard {
  overflow: hidden;
  border: none;
  padding: 0;
}
.c-card.-imgBg-1, .c-card.-imgBg-2 {
  display: none;
}
@media screen and (min-width: 700px) {
  .c-card.-imgBg-1 {
    display: block;
    overflow: hidden;
    border: none;
    min-height: 250px;
    background: url("https://cdn.rawgit.com/fluxinetwork/nc-partners-hive/0e287151/app/img/NC-Partners-OnDemand-bg-management.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .c-card.-imgBg-2 {
    display: block;
    overflow: hidden;
    border: none;
    min-height: 476px;
    background: url("https://cdn.rawgit.com/fluxinetwork/nc-partners-hive/e965661a/app/img/NC-Partners-OnDemand-bg-qui-nous-sommes-card.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

h3.c-cardTitle {
  position: relative;
  text-align: center;
  margin: 16px 0 32px;
}
h3.c-cardTitle:after {
  content: "";
  background-color: #00679e;
  width: 60px;
  height: 6px;
  position: absolute;
  left: calc(50% - 30px);
  bottom: -8px;
}

/*======================================================================*\
==========================================================================

							CHART

==========================================================================
\*======================================================================*/
.c-chart {
  margin-top: 24px;
}

.c-chartLegende {
  margin-top: 24px;
}
.c-chartLegende li {
  list-style-type: none;
}

.c-chartLegende__dot {
  position: relative;
}
.c-chartLegende__dot:before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: #1f3870;
  border-radius: 50%;
  display: inline-block;
  margin-right: 16px;
}

.c-chartLegende li:nth-child(2) .c-chartLegende__dot:before {
  background-color: #324a7f;
}

.c-chartLegende li:nth-child(3) .c-chartLegende__dot:before {
  background-color: #5a76b2;
}

.c-chartLegende li:nth-child(4) .c-chartLegende__dot:before {
  background-color: #7f98d4;
}

.c-chartLegende li:nth-child(5) .c-chartLegende__dot:before {
  background-color: #A2B4DB;
}

.--chart h3.title-3, .--chart .heroCta h3.c-button, .heroCta .--chart h3.c-button {
  margin-top: 0;
}

/*======================================================================*\
==========================================================================

							HERO

==========================================================================
\*======================================================================*/
/* Hero */
.hero {
  position: relative;
  background-color: #d4d8da;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 700px) {
  .hero {
    min-height: 500px;
  }
}
.hero:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
@media screen and (min-width: 700px) {
  .hero#hero__home {
    margin-top: 65px;
  }
}
.hero#hero__home:before {
  background: url("https://cdn.rawgit.com/fluxinetwork/nc-partners-hive/0cb122b6/app/img/NC-Partners-OnDemand-bg-home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.hero#hero__consulting:before {
  background: url("https://cdn.rawgit.com/fluxinetwork/nc-partners-hive/0cb122b6/app/img/NC-Partners-OnDemand-bg-consulting.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.hero#hero__management:before {
  background: url("https://cdn.rawgit.com/fluxinetwork/nc-partners-hive/0cb122b6/app/img/NC-Partners-OnDemand-bg-management.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
.hero#hero__quiNousSommes:before {
  background: url("https://cdn.rawgit.com/fluxinetwork/nc-partners-hive/0cb122b6/app/img/NC-Partners-OnDemand-bg-qui-nous-sommes.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.hero#hero__modeEmploi:before {
  background: url("https://cdn.rawgit.com/fluxinetwork/nc-partners-hive/0cb122b6/app/img/NC-Partners-OnDemand-bg-mode-emploi.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
.hero#hero__talents:before {
  background: url("https://cdn.rawgit.com/fluxinetwork/nc-partners-hive/0cb122b6/app/img/NC-Partners-OnDemand-bg-resumer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
.hero:after {
  content: "";
  background: url("https://cdn.rawgit.com/fluxinetwork/nc-partners-hive/0cb122b6/app/img/NC-Partners-OnDemand-texture5.png");
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

.heroTitle {
  margin: 0;
  color: #fff;
}

.heroBaseline {
  color: #fff;
  max-width: 650px;
  display: block;
  margin: 24px auto 0;
  line-height: normal;
}
@media screen and (min-width: 700px) {
  .heroBaseline {
    margin: 40px auto 0;
  }
}

.heroContent {
  position: relative;
  z-index: 3;
}

.heroCta {
  max-width: 720px;
  margin: 40px auto 0;
}
.heroCta .c-button {
  margin-top: 0;
}
@media screen and (min-width: 700px) {
  .heroCta {
    margin: 64px auto 0;
  }
  .heroCta .c-button {
    min-width: 320px;
  }
}

/*======================================================================*\
==========================================================================

								HIVE CUSTOM

==========================================================================
\*======================================================================*/
@media screen and (max-width: 700px) {
  .header-container {
    padding-top: 0 !important;
    height: 70px !important;
  }
}

.mobile__menu {
  margin-top: 70px;
}

.custom-color-header-links-public {
  color: #46555f;
}

.header__logo.palm--soft--left {
  padding-left: 0 !important;
}

.homepage-container {
  max-width: 100%;
  margin: auto;
}

.lap-and-up--soft--sides, .homepage-container.soft--sides {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.header-container.header-container--nav .homepage-container {
  padding-left: 20px !important;
  padding-right: 20px !important;
  max-width: 1400px;
}
@media screen and (min-width: 700px) {
  .header-container.header-container--nav .homepage-container {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
}

@media screen and (max-width: 700px) {
  .homepage-network__container {
    padding-top: 65px !important;
  }
}
.homepage-network__container.white--soft {
  background-color: #fff;
}
.homepage-network__container .homepage-container {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.homepage-network__container .ne-event-cover {
  display: none !important;
}

.network__footer .homepage-container {
  max-width: 1200px;
  padding-left: 20px !important;
  padding-right: 20px !important;
}
@media screen and (min-width: 700px) {
  .network__footer .homepage-container {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
}

/*======================================================================*\
==========================================================================

								HEADER

==========================================================================
\*======================================================================*/
.js-menu.header__menu.grid__item li a,
.header__buttons--right a.custom-color-header-links-public,
.js-menu-container .js-dropdown-more-menu > a.item-actions,
.dropdown-menu.header--menu__sub_pages_customizables a {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 14px;
  color: #46555f !important;
}

.dropdown-menu.header--menu__sub_pages_customizables a {
  font-weight: normal !important;
  font-size: 14px !important;
}

.header__buttons--right a.custom-color-header-links-public {
  color: #46555f !important;
}

/*======================================================================*\
==========================================================================

							FOOTER

==========================================================================
\*======================================================================*/
.custom-bg-color-footer.custom-color-footer-links.network__footer div {
  font-weight: normal;
}

.custom-color-footer-links.network-footer__section-title {
  text-transform: uppercase;
}

.custom-bg-color-footer.custom-color-footer-links.network__footer a:hover {
  text-decoration: underline;
}

/*======================================================================*\
==========================================================================

							HOMEPAGE

==========================================================================
\*======================================================================*/
.homepage__cover {
  height: 0;
  display: none;
}

.content.--intro {
  max-width: 700px;
  margin-top: 40px;
}
@media screen and (min-width: 700px) {
  .content.--intro {
    margin-top: 64px;
  }
}
.content.--intro .title-3, .content.--intro .heroCta .c-button, .heroCta .content.--intro .c-button {
  margin: 24px 0 0;
}
@media screen and (min-width: 700px) {
  .content.--intro .title-3, .content.--intro .heroCta .c-button, .heroCta .content.--intro .c-button {
    margin: 40px 0 0;
  }
}
.content .title-2 {
  margin-top: 40px;
}

.sectionTitle {
  padding: 40px 0;
  margin: 0;
  text-align: center;
}
@media screen and (min-width: 700px) {
  .sectionTitle {
    padding: 96px 0;
  }
}

.bg-main {
  background-color: #132345;
  position: relative;
}
.bg-main:before {
  content: "";
  background: url("https://cdn.rawgit.com/fluxinetwork/nc-partners-hive/9f4cf653/app/img/NC-Partners-OnDemand-texture5.png");
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  opacity: 0.6;
}
.bg-main .l-col {
  position: relative;
  z-index: 2;
}
.bg-main .sectionTitle {
  color: #fff;
}
.bg-main .c-card {
  background-color: #fff;
}

.content .c-cardList {
  margin-top: 16px;
}
@media screen and (min-width: 700px) {
  .content .c-cardList {
    margin-top: 24px;
  }
}

.--imgRound {
  border-radius: 50%;
  overflow: hidden;
  height: 80px;
  width: 80px;
  display: inline-table;
}
.--imgRound img {
  width: 100%;
}

.fla-left {
  font-size: 26px;
  line-height: 26px;
  position: relative;
  top: 2px;
  margin-right: 16px;
}

/* Helpers */
.t-center {
  text-align: center;
}

/*
.content-jump {
	display: block;
	margin-top: $space-XL;
	margin-bottom: $space-XL;

	+ .content-jump {
		margin-top: -$space-XL*0.3; 	
	}
}*/
.--quatro {
  margin-top: 40px;
}
.--quatro .l-flexGrid__item:first-child {
  margin-right: 0;
}
.--quatro .l-flexGrid__item:last-child {
  margin-left: 0;
}
.--quatro .--imgCard {
  overflow: hidden;
  border: none;
  padding: 0;
  display: block;
  border-radius: 50%;
  margin: 20px auto;
  max-width: 220px;
}
@media screen and (min-width: 700px) {
  .--quatro .--imgCard {
    margin: 20px;
    max-width: 410px;
  }
}

a.advisor {
  color: #46555f;
  text-decoration: none;
}
a.advisor img {
  transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
a.advisor .title-3, a.advisor .heroCta .c-button, .heroCta a.advisor .c-button {
  text-align: center;
}
a.advisor:hover .--imgCard img {
  transform: scale(1.1);
}

.modalContent .--imgRound {
  width: inherit;
  height: inherit;
  display: block;
  max-width: 300px;
  margin: 0 auto;
}
@media screen and (min-width: 700px) {
  .modalContent .--imgRound {
    max-width: 100%;
    margin: 0;
  }
}
.modalContent h3.title-3, .modalContent .heroCta h3.c-button, .heroCta .modalContent h3.c-button {
  margin-top: 20px;
}

/**
 * Featherlight – ultra slim jQuery lightbox
 * Version 1.7.13 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2018, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/
html.with-featherlight {
  /* disable global scrolling when featherlights are visible */
  overflow: hidden;
}

.featherlight {
  display: none;
  /* dimensions: spanning the background from edge to edge */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2147483647;
  /* z-index needs to be >= elements on the site. */
  /* position: centering content */
  text-align: center;
  /* insures that the ::before pseudo element doesn't force wrap with fixed width content; */
  white-space: nowrap;
  /* styling */
  cursor: pointer;
  background: #333;
  /* IE8 "hack" for nested featherlights */
  background: transparent;
}

/* support for nested featherlights. Does not work in IE8 (use JS to fix) */
.featherlight:last-of-type {
  background: rgba(0, 0, 0, 0.8);
}

.featherlight:before {
  /* position: trick to center content vertically */
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.featherlight .featherlight-content {
  /* make content container for positioned elements (close button) */
  position: relative;
  /* position: centering vertical and horizontal */
  text-align: left;
  vertical-align: middle;
  display: inline-block;
  /* dimensions: cut off images */
  overflow: auto;
  padding: 40px 40px 0;
  border-bottom: 40px solid transparent;
  /* dimensions: handling large content */
  margin-left: 5%;
  margin-right: 5%;
  max-height: 95%;
  /* styling */
  background: #fff;
  cursor: auto;
  /* reset white-space wrapping */
  white-space: normal;
}

/* contains the content */
.featherlight .featherlight-inner {
  /* make sure its visible */
  display: block;
}

/* don't show these though */
.featherlight script.featherlight-inner,
.featherlight link.featherlight-inner,
.featherlight style.featherlight-inner {
  display: none;
}

.featherlight .featherlight-close-icon {
  /* position: centering vertical and horizontal */
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  /* dimensions: 25px x 25px */
  line-height: 40px;
  width: 40px;
  font-size: 35px;
  /* styling */
  cursor: pointer;
  text-align: center;
  font-family: Arial, sans-serif;
  background: #fff;
  /* Set the background in case it overlaps the content */
  background: rgba(255, 255, 255, 0.3);
  color: #46555f;
  border: none;
  padding: 0;
}
@media screen and (min-width: 700px) {
  .featherlight .featherlight-close-icon {
    position: absolute;
  }
}

/* See http://stackoverflow.com/questions/16077341/how-to-reset-all-default-styles-of-the-html5-button-element */
.featherlight .featherlight-close-icon::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.featherlight .featherlight-image {
  /* styling */
  width: 100%;
}

.featherlight-iframe .featherlight-content {
  /* removed the border for image croping since iframe is edge to edge */
  border-bottom: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
}

.featherlight iframe {
  /* styling */
  border: none;
}

.featherlight * {
  /* See https://github.com/noelboss/featherlight/issues/42 */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* handling phones and small screens */
@media only screen and (max-width: 1024px) {
  .featherlight .featherlight-content {
    /* dimensions: maximize lightbox with for small screens */
    margin-left: 0;
    margin-right: 0;
    max-height: 98%;
    padding: 20px 20px 0;
    border-bottom: 20px solid transparent;
  }
}
/* hide non featherlight items when printing */
@media print {
  html.with-featherlight > * > :not(.featherlight) {
    display: none;
  }
}
.featherlight-content {
  max-width: 960px;
}
