/*
FLEX
--
/*$positions: justify-content & align-items
If only one value, will be used for the two properties
Use 'null' to not declare a propertie, ex: flex(center null)
*/
/*
FILL
--
$mode = 'parent' || 'viewport'
$fullH fill width AND height
*/
/*
RESPONSIVE FONT
--
https://www.smashingmagazine.com/2015/06/responsive-typography-with-sass-maps
*/
/*
ADD WEBFONT
--
$path in context of the fonts folder
*/
/*
TEXT TRUNCATE
--
requires inline-block or block for proper styling
*/
/*
PSEUDO BACKGROUND
--
Use in :before or :after
Parent element should be positioned
*/
/*
BACKGROUND WITH SHADOW
--
Make background with :after and fancy shadow with :before
*/
/*======================================================================*\
==========================================================================

							UTILS : HELPERS

==========================================================================
\*======================================================================*/
.transition {
  transition-property: all;
  transition-duration: 0.2s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.is-none {
  display: none !important;
}

/*======================================================================*\
==========================================================================

								RESET

==========================================================================
\*======================================================================*/
body {
  margin: 0;
  padding: 0;
}

.content button, .content input, .content select, .content textarea {
  border: 0;
  outline: 0;
  box-shadow: none;
  background-color: transparent;
  font-family: inherit;
  font-size: 100%;
}

.content img {
  display: block;
  max-width: 100%;
}

.content svg {
  max-height: 100%;
}

.content a {
  text-decoration: none;
  outline: 0;
}

.content button {
  cursor: pointer;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*======================================================================*\
==========================================================================

								LAYERS

==========================================================================
\*======================================================================*/
/*======================================================================*\
==========================================================================

								HIVE CUSTOM

==========================================================================
\*======================================================================*/
.homepage-container {
  max-width: 100%;
  margin: auto;
}

.lap-and-up--soft--sides {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

/*======================================================================*\
==========================================================================

							TYPOGRAPHY

==========================================================================
\*======================================================================*/
body {
  font-family: "Open sans";
  line-height: 1.3;
  color: #46555f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title-0, .heroTitle {
  font-size: 30px;
  font-family: "Fjalla One", sans-serif, sans-serif;
  line-height: normal;
}
@media screen and (min-width: 700px) {
  .title-0, .heroTitle {
    font-size: 40px;
  }
}
@media screen and (min-width: 960px) {
  .title-0, .heroTitle {
    font-size: 50px;
  }
}

.title-1, .sectionTitle, h1.title-1, h1.sectionTitle {
  font-size: 29px;
  font-family: "Fjalla One", sans-serif, sans-serif;
  line-height: normal;
}
@media screen and (min-width: 700px) {
  .title-1, .sectionTitle, h1.title-1, h1.sectionTitle {
    font-size: 34px;
  }
}
@media screen and (min-width: 960px) {
  .title-1, .sectionTitle, h1.title-1, h1.sectionTitle {
    font-size: 40px;
  }
}

.title-2, h2.title-2 {
  font-size: 25px;
  font-family: "Fjalla One", sans-serif, sans-serif;
  line-height: normal;
}
@media screen and (min-width: 700px) {
  .title-2, h2.title-2 {
    font-size: 29px;
  }
}
@media screen and (min-width: 960px) {
  .title-2, h2.title-2 {
    font-size: 34px;
  }
}

.title-3, h3.title-3, h3.c-cardTitle {
  font-size: 20px;
  font-family: "Fjalla One", sans-serif, sans-serif;
  line-height: normal;
}
@media screen and (min-width: 700px) {
  .title-3, h3.title-3, h3.c-cardTitle {
    font-size: 23px;
  }
}
@media screen and (min-width: 960px) {
  .title-3, h3.title-3, h3.c-cardTitle {
    font-size: 25px;
  }
}

.title-4, h4.title-4 {
  font-size: 16px;
  font-family: "Fjalla One", sans-serif, sans-serif;
  margin: 24px 0 0;
  line-height: normal;
}
@media screen and (min-width: 700px) {
  .title-4, h4.title-4 {
    font-size: 18px;
  }
}
@media screen and (min-width: 960px) {
  .title-4, h4.title-4 {
    font-size: 20px;
  }
}

.title-5, .c-button, h5.title-5, h5.c-button {
  font-size: 14px;
  line-height: normal;
}
@media screen and (min-width: 700px) {
  .title-5, .c-button, h5.title-5, h5.c-button {
    font-size: 15px;
  }
}
@media screen and (min-width: 960px) {
  .title-5, .c-button, h5.title-5, h5.c-button {
    font-size: 16px;
  }
}

.title-6, h6.title-6 {
  font-size: 12px;
  line-height: normal;
}
@media screen and (min-width: 700px) {
  .title-6, h6.title-6 {
    font-size: 13px;
  }
}
@media screen and (min-width: 960px) {
  .title-6, h6.title-6 {
    font-size: 14px;
  }
}

.content p, .para, .content ul li, .heroBaseline {
  font-size: 16px;
  font-family: "Open sans";
}
@media screen and (min-width: 700px) {
  .content p, .para, .content ul li, .heroBaseline {
    font-size: 18px;
  }
}
@media screen and (min-width: 960px) {
  .content p, .para, .content ul li, .heroBaseline {
    font-size: 20px;
  }
}

.content p {
  margin: 1em 0 0;
}

.para--min, .content .c-cardList li {
  font-size: 14px;
  font-family: "Open sans";
}
@media screen and (min-width: 700px) {
  .para--min, .content .c-cardList li {
    font-size: 15px;
  }
}
@media screen and (min-width: 960px) {
  .para--min, .content .c-cardList li {
    font-size: 16px;
  }
}

.content ul {
  margin: 1em 0 0 0;
}
.content ul li {
  margin-top: 0.4em;
  line-height: 1.1;
}

.content p a,
.content li a {
  color: #46555f;
  font-weight: 900;
  text-decoration: underline;
}
.content p a:hover,
.content li a:hover {
  color: #000;
}

/**/
@font-face {
  font-family: "Flaticon";
  src: url("https://cdn.rawgit.com/fluxinetwork/nc-partners-hive/7fc3d39f/app/fonts/flaticon/Flaticon.eot");
  src: url("https://cdn.rawgit.com/fluxinetwork/nc-partners-hive/7fc3d39f/app/fonts/flaticon/Flaticon.eot?#iefix") format("embedded-opentype"), url("https://cdn.rawgit.com/fluxinetwork/nc-partners-hive/7fc3d39f/app/fonts/flaticon/Flaticon.woff") format("woff"), url("https://cdn.rawgit.com/fluxinetwork/nc-partners-hive/7fc3d39f/app/fonts/flaticon/Flaticon.ttf") format("truetype"), url("https://cdn.rawgit.com/fluxinetwork/nc-partners-hive/7fc3d39f/app/fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("https://cdn.rawgit.com/fluxinetwork/nc-partners-hive/7fc3d39f/app/fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
  }
}
[class^="fla-"]:before, [class*=" fla-"]:before,
[class^="fla-"]:after, [class*=" fla-"]:after {
  font-family: Flaticon;
  font-size: 60px;
  font-style: normal;
  color: #00679e;
  line-height: 60px;
}

.fla-interface:before {
  content: "\f100";
}

.fla-people-6:before {
  content: "\f101";
}

.fla-time-2:before {
  content: "\f102";
}

.fla-people-5:before {
  content: "\f103";
}

.fla-travel:before {
  content: "\f104";
}

.fla-people-4:before {
  content: "\f105";
}

.fla-people-3:before {
  content: "\f106";
}

.fla-time-1:before {
  content: "\f107";
}

.fla-man-1:before {
  content: "\f108";
}

.fla-circle:before {
  content: "\f109";
}

.fla-magnifying-glass:before {
  content: "\f10a";
}

.fla-time:before {
  content: "\f10b";
}

.fla-transport:before {
  content: "\f10c";
}

.fla-graphic-1:before {
  content: "\f10d";
}

.fla-map-location:before {
  content: "\f10e";
}

.fla-money:before {
  content: "\f10f";
}

.fla-business-2:before {
  content: "\f110";
}

.fla-hands:before {
  content: "\f111";
}

.fla-pen:before {
  content: "\f112";
}

.fla-technology-3:before {
  content: "\f113";
}

.fla-business-1:before {
  content: "\f114";
}

.fla-clock:before {
  content: "\f115";
}

.fla-technology-2:before {
  content: "\f116";
}

.fla-man:before {
  content: "\f117";
}

.fla-statistics:before {
  content: "\f118";
}

.fla-loudspeaker:before {
  content: "\f119";
}

.fla-arrow:before {
  content: "\f11a";
}

.fla-education:before {
  content: "\f11b";
}

.fla-square:before {
  content: "\f11c";
}

.fla-technology-1:before {
  content: "\f11d";
}

.fla-coins:before {
  content: "\f11e";
}

.fla-technology:before {
  content: "\f11f";
}

.fla-people-2:before {
  content: "\f120";
}

.fla-looking:before {
  content: "\f121";
}

.fla-business:before {
  content: "\f122";
}

.fla-people-1:before {
  content: "\f123";
}

.fla-people:before {
  content: "\f124";
}

.fla-graphic:before {
  content: "\f125";
}

/*======================================================================*\
==========================================================================

						LAYOUTS : LIB

==========================================================================
\*======================================================================*/
/*======================================================================*\
==========================================================================

							LAYOUT : COL

==========================================================================
\*======================================================================*/
.l-col {
  width: 100%;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 700px) {
  .l-col {
    padding-left: 40px;
    padding-right: 40px;
  }
}

/*======================================================================*\
==========================================================================

							LAYOUT : CELL

==========================================================================
\*======================================================================*/
.l-cell {
  padding: 16px;
}
@media screen and (min-width: 700px) {
  .l-cell {
    padding: 20.8px;
  }
}
@media screen and (min-width: 960px) {
  .l-cell {
    padding: 24px;
  }
}

.l-largeCell {
  padding: 40px;
}
@media screen and (min-width: 700px) {
  .l-largeCell {
    padding: 52px;
  }
}
@media screen and (min-width: 960px) {
  .l-largeCell {
    padding: 64px;
  }
}

.l-heroCell {
  padding: 64px 40px;
}
@media screen and (min-width: 700px) {
  .l-heroCell {
    padding: 83.2px 52px;
  }
}
@media screen and (min-width: 960px) {
  .l-heroCell {
    padding: 96px 64px;
  }
}

/*======================================================================*\
==========================================================================

							LAYOUT : MARGIN

==========================================================================
\*======================================================================*/
.l-marginTop, .l-margin {
  margin-top: 40px;
}
@media screen and (min-width: 700px) {
  .l-marginTop, .l-margin {
    margin-top: 64px;
  }
}
@media screen and (min-width: 960px) {
  .l-marginTop, .l-margin {
    margin-top: 96px;
  }
}
@media screen and (min-width: 1200px) {
  .l-marginTop, .l-margin {
    margin-top: 124.8px;
  }
}

.l-marginBottom, .l-margin {
  margin-bottom: 40px;
}
@media screen and (min-width: 700px) {
  .l-marginBottom, .l-margin {
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 960px) {
  .l-marginBottom, .l-margin {
    margin-bottom: 96px;
  }
}
@media screen and (min-width: 1200px) {
  .l-marginBottom, .l-margin {
    margin-bottom: 124.8px;
  }
}

/*======================================================================*\
==========================================================================

							LAYOUT : PADDING

==========================================================================
\*======================================================================*/
.l-paddingTop, .l-padding {
  padding-top: 40px;
}
@media screen and (min-width: 700px) {
  .l-paddingTop, .l-padding {
    padding-top: 64px;
  }
}
@media screen and (min-width: 960px) {
  .l-paddingTop, .l-padding {
    padding-top: 96px;
  }
}
@media screen and (min-width: 1200px) {
  .l-paddingTop, .l-padding {
    padding-top: 124.8px;
  }
}

.l-paddingBottom, .l-padding {
  padding-bottom: 40px;
}
@media screen and (min-width: 700px) {
  .l-paddingBottom, .l-padding {
    padding-bottom: 64px;
  }
}
@media screen and (min-width: 960px) {
  .l-paddingBottom, .l-padding {
    padding-bottom: 96px;
  }
}
@media screen and (min-width: 1200px) {
  .l-paddingBottom, .l-padding {
    padding-bottom: 124.8px;
  }
}

.l-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.l-center--col {
  flex-direction: column;
}

/*======================================================================*\
==========================================================================

							LAYOUT : JUMP

==========================================================================
\*======================================================================*/
.l-jump {
  margin-top: 24px;
}
@media screen and (min-width: 700px) {
  .l-jump {
    margin-top: 40px;
  }
}
@media screen and (min-width: 960px) {
  .l-jump {
    margin-top: 52px;
  }
}

/*======================================================================*\
==========================================================================

							LAYOUT : CENTER

==========================================================================
\*======================================================================*/
.l-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.l-center--col {
  flex-direction: column;
}

/*======================================================================*\
==========================================================================

							LAYOUT BASE FLEXGRID

==========================================================================
\*======================================================================*/
.l-flexGrid__item {
  /*padding-left: $gutter/2;
  padding-right: $gutter/2;*/
}
.l-flexGrid__item:first-child {
  margin-left: 0;
}
.l-flexGrid__item:last-child {
  margin-right: 0;
  margin-top: 24px;
}
@media screen and (min-width: 700px) {
  .l-flexGrid__item:last-child {
    margin-top: 0;
  }
}

@media screen and (min-width: 700px) {
  .l-flexGrid {
    display: flex;
    flex-direction: true;
  }

  .l-flexGrid__item {
    flex: 1 0 0%;
    		/*&--first,
    		&:first-child {
    			padding-left: 0;
    		}
    
    		&:last-child {
    			padding-right: 0;
    		}*/
  }
}
/*======================================================================*\
==========================================================================

							BUTTON

==========================================================================
\*======================================================================*/
.c-button {
  display: inline-block;
  padding: 0.6em 1em;
  font-family: "Fjalla One", sans-serif;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  background-color: #00679e;
  border-radius: 3px;
  color: #fff;
  border: 0;
  transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.c-button:hover {
  background-color: #00679e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}
.c-button.-white {
  background-color: #fff;
  color: #00679e;
}
.c-button.-white:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-shadow: 0 0 20px rgba(0, 103, 158, 0.5);
}

.content a.c-button {
  color: #fff;
}

/*======================================================================*\
==========================================================================

							CARD

==========================================================================
\*======================================================================*/
.c-card {
  border: 1px solid #d4d8da;
  padding: 24px 40px 40px;
  margin-top: 24px;
}
.c-card:first-child {
  margin-top: 0;
}
.c-card .c-button {
  margin-top: 40px;
}
.c-card .c-icon {
  text-align: center;
}

h3.c-cardTitle {
  position: relative;
  text-align: center;
  margin: 16px 0 24px;
}
h3.c-cardTitle:after {
  content: "";
  background-color: #00679e;
  width: 60px;
  height: 6px;
  position: absolute;
  left: calc(50% - 30px);
  bottom: -8px;
}

/*======================================================================*\
==========================================================================

							HERO

==========================================================================
\*======================================================================*/
/* Hero */
.hero {
  position: relative;
  background-color: #d4d8da;
  text-align: center;
}
.hero:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.hero#hero__home:before {
  background: url("https://cdn.rawgit.com/fluxinetwork/nc-partners-hive/7affa4d3/app/img/NC-Partners-OnDemand-bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.hero:after {
  content: "";
  background: url("https://cdn.rawgit.com/fluxinetwork/nc-partners-hive/d64dc3f7/app/img/NC-Partners-OnDemand-texture1.png");
  background-color: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  opacity: 0.6;
}

.heroTitle {
  margin: 0;
  color: #fff;
}

.heroBaseline {
  color: #fff;
  max-width: 650px;
  display: block;
  margin: 24px auto 0;
  line-height: normal;
}
@media screen and (min-width: 700px) {
  .heroBaseline {
    margin: 40px auto 0;
  }
}

.heroContent {
  position: relative;
  z-index: 3;
}

.heroCta {
  max-width: 650px;
  margin: 40px auto 0;
}
@media screen and (min-width: 700px) {
  .heroCta {
    margin: 64px auto 0;
  }
  .heroCta .c-button {
    min-width: 200px;
  }
}

/*======================================================================*\
==========================================================================

							HOMEPAGE

==========================================================================
\*======================================================================*/
.homepage__cover {
  height: 0;
  display: none;
}

/*======================================================================*\
==========================================================================

								HEADER

==========================================================================
\*======================================================================*/
.js-menu.header__menu.grid__item li a,
.header__buttons--right a.custom-color-header-links-public,
.js-menu-container .js-dropdown-more-menu > a.item-actions,
.dropdown-menu.header--menu__sub_pages_customizables a {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 14px;
  color: #46555f !important;
}

.dropdown-menu.header--menu__sub_pages_customizables a {
  font-weight: normal !important;
  font-size: 14px !important;
}

.header__buttons--right a.custom-color-header-links-public {
  color: #46555f !important;
}

/*======================================================================*\
==========================================================================

							FOOTER

==========================================================================
\*======================================================================*/
.custom-bg-color-footer.custom-color-footer-links.network__footer div {
  font-family: 'Open Sans Light', sans-serif;
  font-weight: normal;
}

.custom-color-footer-links.network-footer__section-title {
  text-transform: uppercase;
}

.custom-bg-color-footer.custom-color-footer-links.network__footer a:hover {
  text-decoration: underline;
}

/*.homepage-container.lap-and-up--soft--sides .custom-color-footer-links{
	color: #63737e !important;
}*/
.sectionTitle {
  padding: 40px 0;
  margin: 0;
  text-align: center;
}

.bg-main {
  background-color: #00679e;
}
.bg-main .sectionTitle {
  color: #fff;
}
.bg-main .c-card {
  background-color: #fff;
}

/*
.content-jump {
	display: block;
	margin-top: $space-XL;
	margin-bottom: $space-XL;

	+ .content-jump {
		margin-top: -$space-XL*0.3; 	
	}
}*/
