/*
FLEX
--
/*$positions: justify-content & align-items
If only one value, will be used for the two properties
Use 'null' to not declare a propertie, ex: flex(center null)
*/
/*
FILL
--
$mode = 'parent' || 'viewport'
$fullH fill width AND height
*/
/*
RESPONSIVE FONT
--
https://www.smashingmagazine.com/2015/06/responsive-typography-with-sass-maps
*/
/*
ADD WEBFONT
--
$path in context of the fonts folder
*/
/*
TEXT TRUNCATE
--
requires inline-block or block for proper styling
*/
/*
PSEUDO BACKGROUND
--
Use in :before or :after
Parent element should be positioned
*/
/*
BACKGROUND WITH SHADOW
--
Make background with :after and fancy shadow with :before
*/
/*======================================================================*\
==========================================================================

							UTILS : HELPERS

==========================================================================
\*======================================================================*/
.transition {
  transition-property: all;
  transition-duration: 0.2s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.is-none {
  display: none !important;
}

/*======================================================================*\
==========================================================================

								RESET

==========================================================================
\*======================================================================*/
/*
body {
	margin: 0;
	padding: 0;
}

button, input, select, textarea {
  border: 0;
  outline: 0;
  box-shadow: none;
  background-color: transparent;
  font-family: inherit;
  font-size: 100%;
}

img { 
	display: block;
	max-width: 100%;
}

svg { max-height: 100% }

a { 
	text-decoration: none;
	outline: 0;
}

button {
	cursor: pointer;
}


// BETTER BOX SIZING

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}*/
/*======================================================================*\
==========================================================================

								LAYERS

==========================================================================
\*======================================================================*/
/*======================================================================*\
==========================================================================

							TYPOGRAPHY

==========================================================================
\*======================================================================*/
/*

body {
	font-family: $font-txt;
	line-height: 1.3;
	color: $c-txt;
	@include font-smoothing();
}


//================================================================= WEBFONT

//@include webfont('gilroy', 'gilroy/regular', 'Gilroy-Regular', 400);

//============================================================== FONT SIZES

$h0-font-sizes: (
	null : (22px),
	medium : (32px),
	large : (45px)
);

$h1-font-sizes: (
	null : (29px),
	medium : (34px),
	large : (40px)
);

$h2-font-sizes: (
	null : (25px),
	medium : (29px),
	large : (34px)
);

$h3-font-sizes: (
	null : (20px),
	medium : (23px),
	large : (25px)
);

$h4-font-sizes: (
	null : (16px),
	medium : (18px),
	large : (20px)
);

$h5-font-sizes: (
	null : (14px),
	medium : (15px),
	large : (16px)
);

$h6-font-sizes: (
	null : (12px),
	medium : (13px),
	large : (14px)
);


//========================================================== BASE STYLES


h1, h2, h3, h4, h5, h6, p {
	margin: 0;

	&:first-child {
		margin-top: 0;
	}
}

.h0 {	
	@include font-size($h0-font-sizes);	
}


h1, .h1 {	
	@include font-size($h1-font-sizes);	
}
h1 {	
	margin-top: 2em;
}


h2, .h2 {	
	@include font-size($h2-font-sizes);	
}
h2 {	
	margin-top: 2.2em;
}


h3, .h3 {	
	@include font-size($h3-font-sizes);	
}
h3 {	
	margin-top: 1.7em;
}


h4, .h4 {	
	@include font-size($h4-font-sizes);	
}
h4 {	
	margin-top: 1em;
}


h5, .h5 {	
	@include font-size($h5-font-sizes);	
}
h5 {	
	margin-top: 0.8em;
}

h6, .h6 {	
	@include font-size($h6-font-sizes);	
}
h6 {	
	margin-top: 0.7;
}


p, .p {
	@include font-size($h4-font-sizes);	
	font-family: $font-txt
}
p {
	margin-top: 1em;
}


ul {
	margin-top: 1em;

	li {
		@extend .p;
		margin-top: 0.4em;
		line-height: 1.1;
	}
}

p a,
li a {
	color: $c-main;
	font-weight: 900;
	text-decoration: underline;

	&:hover {
		color: $c-dark;
	}
}
*/
@font-face {
  font-family: "Flaticon";
  src: url("https://cdn.rawgit.com/fluxinetwork/nc-partners-hive/7fc3d39f/app/fonts/flaticon/Flaticon.eot");
  src: url("https://cdn.rawgit.com/fluxinetwork/nc-partners-hive/7fc3d39f/app/fonts/flaticon/Flaticon.eot?#iefix") format("embedded-opentype"), url("https://cdn.rawgit.com/fluxinetwork/nc-partners-hive/7fc3d39f/app/fonts/flaticon/Flaticon.woff") format("woff"), url("https://cdn.rawgit.com/fluxinetwork/nc-partners-hive/7fc3d39f/app/fonts/flaticon/Flaticon.ttf") format("truetype"), url("https://cdn.rawgit.com/fluxinetwork/nc-partners-hive/7fc3d39f/app/fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("https://cdn.rawgit.com/fluxinetwork/nc-partners-hive/7fc3d39f/app/fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
  }
}
[class^="fla-"]:before, [class*=" fla-"]:before,
[class^="fla-"]:after, [class*=" fla-"]:after {
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
  margin-left: 20px;
}

.fla-interface:before {
  content: "\f100";
}

.fla-people-6:before {
  content: "\f101";
}

.fla-time-2:before {
  content: "\f102";
}

.fla-people-5:before {
  content: "\f103";
}

.fla-travel:before {
  content: "\f104";
}

.fla-people-4:before {
  content: "\f105";
}

.fla-people-3:before {
  content: "\f106";
}

.fla-time-1:before {
  content: "\f107";
}

.fla-man-1:before {
  content: "\f108";
}

.fla-circle:before {
  content: "\f109";
}

.fla-magnifying-glass:before {
  content: "\f10a";
}

.fla-time:before {
  content: "\f10b";
}

.fla-transport:before {
  content: "\f10c";
}

.fla-graphic-1:before {
  content: "\f10d";
}

.fla-map-location:before {
  content: "\f10e";
}

.fla-money:before {
  content: "\f10f";
}

.fla-business-2:before {
  content: "\f110";
}

.fla-hands:before {
  content: "\f111";
}

.fla-pen:before {
  content: "\f112";
}

.fla-technology-3:before {
  content: "\f113";
}

.fla-business-1:before {
  content: "\f114";
}

.fla-clock:before {
  content: "\f115";
}

.fla-technology-2:before {
  content: "\f116";
}

.fla-man:before {
  content: "\f117";
}

.fla-statistics:before {
  content: "\f118";
}

.fla-loudspeaker:before {
  content: "\f119";
}

.fla-arrow:before {
  content: "\f11a";
}

.fla-education:before {
  content: "\f11b";
}

.fla-square:before {
  content: "\f11c";
}

.fla-technology-1:before {
  content: "\f11d";
}

.fla-coins:before {
  content: "\f11e";
}

.fla-technology:before {
  content: "\f11f";
}

.fla-people-2:before {
  content: "\f120";
}

.fla-looking:before {
  content: "\f121";
}

.fla-business:before {
  content: "\f122";
}

.fla-people-1:before {
  content: "\f123";
}

.fla-people:before {
  content: "\f124";
}

.fla-graphic:before {
  content: "\f125";
}

/*======================================================================*\
==========================================================================

						LAYOUTS : LIB

==========================================================================
\*======================================================================*/
/*======================================================================*\
==========================================================================

							LAYOUT : COL

==========================================================================
\*======================================================================*/
.l-col {
  width: 100%;
  max-width: 1200px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
}
.l-col--content {
  max-width: 650px;
}
@media screen and (min-width: 1248px) {
  .l-col--content {
    padding-left: 0;
    padding-right: 0;
  }
}

/*======================================================================*\
==========================================================================

							LAYOUT : CELL

==========================================================================
\*======================================================================*/
.l-cell {
  padding: 16px;
}
@media screen and (min-width: 700px) {
  .l-cell {
    padding: 20.8px;
  }
}
@media screen and (min-width: 960px) {
  .l-cell {
    padding: 24px;
  }
}

.l-largeCell {
  padding: 40px;
}
@media screen and (min-width: 700px) {
  .l-largeCell {
    padding: 52px;
  }
}
@media screen and (min-width: 960px) {
  .l-largeCell {
    padding: 64px;
  }
}

.l-heroCell {
  padding: 64px 40px;
}
@media screen and (min-width: 700px) {
  .l-heroCell {
    padding: 83.2px 52px;
  }
}
@media screen and (min-width: 960px) {
  .l-heroCell {
    padding: 96px 64px;
  }
}

/*======================================================================*\
==========================================================================

							LAYOUT : MARGIN

==========================================================================
\*======================================================================*/
.l-marginTop, .l-margin {
  margin-top: 40px;
}
@media screen and (min-width: 700px) {
  .l-marginTop, .l-margin {
    margin-top: 64px;
  }
}
@media screen and (min-width: 960px) {
  .l-marginTop, .l-margin {
    margin-top: 96px;
  }
}
@media screen and (min-width: 1200px) {
  .l-marginTop, .l-margin {
    margin-top: 124.8px;
  }
}

.l-marginBottom, .l-margin {
  margin-bottom: 40px;
}
@media screen and (min-width: 700px) {
  .l-marginBottom, .l-margin {
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 960px) {
  .l-marginBottom, .l-margin {
    margin-bottom: 96px;
  }
}
@media screen and (min-width: 1200px) {
  .l-marginBottom, .l-margin {
    margin-bottom: 124.8px;
  }
}

/*======================================================================*\
==========================================================================

							LAYOUT : PADDING

==========================================================================
\*======================================================================*/
.l-paddingTop, .l-padding {
  padding-top: 40px;
}
@media screen and (min-width: 700px) {
  .l-paddingTop, .l-padding {
    padding-top: 64px;
  }
}
@media screen and (min-width: 960px) {
  .l-paddingTop, .l-padding {
    padding-top: 96px;
  }
}
@media screen and (min-width: 1200px) {
  .l-paddingTop, .l-padding {
    padding-top: 124.8px;
  }
}

.l-paddingBottom, .l-padding {
  padding-bottom: 40px;
}
@media screen and (min-width: 700px) {
  .l-paddingBottom, .l-padding {
    padding-bottom: 64px;
  }
}
@media screen and (min-width: 960px) {
  .l-paddingBottom, .l-padding {
    padding-bottom: 96px;
  }
}
@media screen and (min-width: 1200px) {
  .l-paddingBottom, .l-padding {
    padding-bottom: 124.8px;
  }
}

.l-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.l-center--col {
  flex-direction: column;
}

/*======================================================================*\
==========================================================================

							LAYOUT : JUMP

==========================================================================
\*======================================================================*/
.l-jump {
  margin-top: 24px;
}
@media screen and (min-width: 700px) {
  .l-jump {
    margin-top: 40px;
  }
}
@media screen and (min-width: 960px) {
  .l-jump {
    margin-top: 52px;
  }
}

/*======================================================================*\
==========================================================================

							LAYOUT : CENTER

==========================================================================
\*======================================================================*/
.l-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.l-center--col {
  flex-direction: column;
}

/*======================================================================*\
==========================================================================

							LAYOUT BASE FLEXGRID

==========================================================================
\*======================================================================*/
.l-flexGrid {
  display: flex;
  flex-direction: true;
}

.l-flexGrid__item {
  flex: 1 0 100%;
  padding: 12px 0;
}
.l-flexGrid__item--first, .l-flexGrid__item:first-child {
  padding-top: 0;
}
.l-flexGrid__item--last, .l-flexGrid__item:last-child {
  padding-bottom: 0;
}

@media screen and (min-width: 700px) {
  .l-flexGrid {
    flex-direction: row;
  }

  .l-flexGrid__item {
    flex: 1 0 0%;
    padding: 0 12px;
  }
  .l-flexGrid__item--first, .l-flexGrid__item:first-child {
    padding-left: 0;
  }
  .l-flexGrid__item:last-child {
    padding-right: 0;
  }
}
/*======================================================================*\
==========================================================================

						COMPONENTS : LIB

==========================================================================
\*======================================================================*/
/*======================================================================*\
==========================================================================

							HOMEPAGE

==========================================================================
\*======================================================================*/
/*======================================================================*\
==========================================================================

								HEADER

==========================================================================
\*======================================================================*/
.js-menu.header__menu.grid__item li a,
.header__buttons--right a.custom-color-header-links-public,
.js-menu-container .js-dropdown-more-menu > a.item-actions,
.dropdown-menu.header--menu__sub_pages_customizables a {
  font-family: 'Open Sans Light', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 14px;
  color: #46555f !important;
}

.dropdown-menu.header--menu__sub_pages_customizables a {
  font-weight: normal !important;
  font-size: 14px !important;
}

.header__buttons--right a.custom-color-header-links-public {
  color: #00679e !important;
}

/*======================================================================*\
==========================================================================

							FOOTER

==========================================================================
\*======================================================================*/
.custom-bg-color-footer.custom-color-footer-links.network__footer div {
  font-family: 'Open Sans Light', sans-serif;
  font-weight: normal;
}

.custom-color-footer-links.network-footer__section-title {
  text-transform: uppercase;
}

.custom-bg-color-footer.custom-color-footer-links.network__footer a:hover {
  text-decoration: underline;
}

/*.homepage-container.lap-and-up--soft--sides .custom-color-footer-links{
	color: #63737e !important;
}*/
/*.content {
	h1,
	h2,
	h3 {
		font-family: $font-h;
	}

	h3 {
		font-weight: 400;
	}

	blockquote {

	}

	figure {
		margin: 0;

		img {
			border-radius: $radius;
		}

		figcaption {
			text-align: center;
			@extend .h5;
			margin-top: 0.5em;
			color: $c-txt;
			padding: 0 $gutter;
		}
	}
}

.content-jump {
	display: block;
	margin-top: $space-XL;
	margin-bottom: $space-XL;

	+ .content-jump {
		margin-top: -$space-XL*0.3; 	
	}
}*/
